@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.h1,
.h3,
.share-tech {
	font-family: 'Share Tech', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-400 via-primary-500 to-secondary-900;
}

h3 {
	@apply text-secondary-300;
}

p {
	@apply text-secondary-400 leading-7;
}
